@charset "utf-8";
/*== header ==*/
.hamburger, .sp_header_container, .sp_topimg, .sp_botton, .sp_only{
    display: none;
}
#header{
    background-color:rgb(0,0,0,0.06) ;
    margin-bottom: 187px;
}
.header_container{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.logo{
    margin-top: 31px;
    margin-left: 31px;
}
.botton{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ec747b;
    width: 10%;  
    padding: 50px 0;
}
.botton span{
    font-size: 19px;
    color: white;
    font-family: "Abel";
}
.topimg{
    width: 90%;
}

.header_nav ul{
    height: 67px;
    width: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-left:50px;
}
.header_nav ul a{
    font-family: "Abel";
}
.sp_nav{
    display: none;
}

/* スクロールダウンのためのCSS */

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
    position:absolute;
    bottom:1%;
    right:5%;
    /*矢印の動き1秒かけて永遠にループ*/
    animation: arrowmove 2s ease-in-out infinite;
}
/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
    position: absolute;
    left:10px;
    bottom:32px;
  /*テキストの形状*/
    color: #666666;
    font-size: 0.7rem;
    font-family: "Abel";
    letter-spacing: 0.05em;
/*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
  /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -3px;
  /*矢印の形状*/
    width: 1px;
    height: 9px;
    background: #666666;
    transform: skewX(-31deg);
}

.scrolldown4:after{
    content:"";
  /*描画位置*/
    position: absolute;
    bottom:0;
    right:0;
  /*矢印の形状*/
    width:1px;
    height: 89px;
    background:#666666;
}
.instagram{
    width: 20%;
}
/*== body ==*/
#concept{
    max-width:1100px;
    margin: 0 auto;
}
h2{
    transform-origin: top left;
    transform: rotate(-270deg);
    font-weight:normal;
    font-size: 23px;
    font-family: "Abel";
    color: #4d4d4d;
    border-top:0.64px solid #4d4d4d; 
    padding-top: 41px;
    width: 235px;
}
.lead{
    display: flex;
    margin-left: 100px;
    margin-top: -50px;
}
.lead img{
    width: 60%;
}
.lead_textarea{
    margin-left: -162px;
}
.lead_textarea h3{
    font-size: 89px;
    font-weight: 100;
    font-family: "Abel";
    color: rgb(236,116,123,0.65);
    margin-top: -24px;
    margin-bottom: 50px;
}
.lead_main{
    color: #666666;
    font-size: 35px;
    font-weight: lighter;

}
.lead_text{
    font-size: 17px;
    width: 85%;
    line-height: 2.0;
    margin-top: 45px;
}
#about{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 187px;
}
.charm_border{
    width: 60px;
    border: 0.5px solid #666666;
    transform: rotate(-45deg);
    left: 10px;
    position: relative;
}
.about_textarea{
    width: 50%;
}
.about_block{
    display: flex;
    max-width: 900px;
    margin-left: 100px;
    margin-top: -60px;
}
.about_title{
    font-size: 89px;
    font-family: "Abel";
    color: rgb(236,116,123,0.22);
    margin-bottom: 60px;
}
.about_owner{
    font-size: 15px;
    margin-bottom: 11px;
    margin-left: 56px;
}
.about_owner::before{
    border-left: 0.64px;
    transform: rotate(45deg);
}
.owner_name{
    margin-bottom: 51px;
    margin-left: 56px;
    line-height: 1.3;
}
.owner_name span{
    font-size: 25px;
    margin-right: 10px;
}
.about_text{
    font-size: 16px;
    line-height: 2.0;
    margin-left: 56px;
}
.owner_img{
    width: 35%;
    margin-left: 120px;
    margin-top: 105px;
}
.about_bg{
    position: absolute;
    right: 0;
    width: 60%;
    height: 321px;
    background-color:rgb(0,0,0,0.06) ;
    z-index: -1;
    margin-top: -355px;
    margin-bottom: 187px;
}
.salon_block{
    display: flex;
    max-width: 900px;
    margin-left: 100px;
    margin-top: 100px;
}
.salon_img{
    width: 35%;
    margin-right: 120px;

}
.salon_title{
    font-size: 89px;
    font-family: "Abel";
    color: rgb(236,116,123,0.22);
    margin-bottom: 60px;
}
.salon_room{
    font-size: 25px;
    margin-left: 56px;
    margin-bottom: 50px;
}
.salon_text{
    font-size: 16px;
    line-height: 2.0;
    margin-left: 56px;
}
.salon_bg{
    position: absolute;
    left: 0;
    width: 80%;
    height: 321px;
    background-color:rgb(0,0,0,0.06) ;
    z-index: -1;
    margin-top: -290px;
    margin-left: -250px;
    margin-bottom: 187px;
}
#menu{
    max-width: 1100px;
    margin: 0 auto;
    margin-top:200px;
}
.menu_block{
    margin-left: 100px;
    margin-top: -70px;
}
.menu_title{
    font-size: 89px;
    font-family: "Abel";
    color: rgb(236,116,123,0.22);
    margin-bottom: 67px;
}
.menu_group{
    padding:0 107px;
}
.menu_group h3{
    background-color: #666666;
    transform-origin: top left;
    transform: rotate(-270deg);
    width: 88px;
    color:white;
    font-family: "Abel";
    font-weight: 100;
    text-align: right;
    padding-right: 10px;
}
.menu_list_cut{
    display: block;
    max-width: 533px;
    margin-top: -20px;
    margin-left: 73px;
    border-bottom:0.64px solid #4d4d4d; 
    padding-bottom: 18px;
    margin-bottom: 42px;
}
.menu_list_cut li{
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}
.menu_list{
    display: block;
    max-width: 533px;
    margin-left: 73px;
    border-bottom:0.64px solid #4d4d4d; 
    padding-bottom: 18px;
    margin-bottom: 42px;
}
.menu_list li{
    max-width: 533px;
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}
.menulist{
    font-size: 16px;
}
.menuprice{
    font-size: 21px;
    font-family: "Abel";
}
.menutext{
    font-size: 14px;
    line-height: 1.8;
}
#style{
    height: 100vh;
}
.style_title_block{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 200px;
}
.style_block{
    margin-left: 100px;
    margin-top: -70px;
    position: relative;
}
.style_title{
    font-size: 89px;
    font-family: "Abel";
    color: rgb(236,116,123,0.22);
    margin-bottom: 56px;
}

.style_slider{
    display: flex;
    position: absolute;
    right: 0;
    left: 24%;
    gap:30px;
    margin-top: 80px;
}
.style_slider img{
   width: 95%;
}

.slick-nav-arrows {
    position: absolute;
    right: 0;
    margin-top: -50px;
    margin-right: 20px;
}
.slick-arrow {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: -150px;
}
.slick-prev::before, .slick-next::before{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
	border: 1px solid #252526;
	border-radius: 50%;
    color: transparent;
}
.slick-prev::after{
    top:40%;
    left:45%;
	width: 7px;
	height:7px;
	border-top: 1px solid #252526;
	border-right: 1px solid #252526;
	transform: rotate(-135deg);
    position: absolute;
    content: "";
}
.slick-next::after{
    top:40%;
    left:35%;
	width: 7px;
	height:7px;
	border-top: 1px solid #252526;
	border-right: 1px solid #252526;
	transform: rotate(45deg);
    position: absolute;
    content: "";
}

.style_more{
    display: flex;
    font-size: 20px;
    font-family: "Abel";
    justify-content: right;
    margin-right: 20px;
}

.style_more:after{
  content: '';
  margin-top: 8px;
  width: 35px;
  height: 6px;
  border-bottom: solid 1px #666666;
  border-right: solid 1px #666666;
  transform: skew(45deg);

}
/*.slick-list{
    position: relative;
    right: 0;
    max-width: 1500px;
    overflow: auto;
}*/
#saloninfo{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 108px;
}
#saloninfo .charm_border{
    width: 60px;
    border: 0.5px solid #666666;
    transform: rotate(-45deg);
    position: relative;
    margin-top: 67px;
    left: -40px;
}
.info_block{
    margin-left: 100px;
    margin-top: -70px;
}
.info_title{
    font-size: 89px;
    font-family: "Abel";
    color: rgb(236,116,123,0.22);
}
.info_group{
    padding:0 107px;
}
.info_group h3{
    font-size: 23px;
    font-weight: 100;
    font-family: "Abel";
    margin-bottom: 44px;
}
.info_group h3 span{
    font-size: 27px;
    font-weight: 100;
    font-family: "Abel";
}
.info_list{
    display: flex;
    align-items: baseline;
    margin-bottom: 13px;
}
.info_list h4{
    width: 65px;
    background-color:  #666666;
    color: white;
    font-size: 12px;
    font-weight: 100;
    margin-right: 40px;
    padding: 5px;
    text-align: center;
}
.info_ad{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8;
    margin-bottom: 14px;
}
.info_list p{
    font-size: 13px;
    line-height: 1.8;
}
.contact_text{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.93;
    margin-bottom: 13px;
}
.contact_box{
    width: 737px;
    margin: 0 auto;
    margin-top: 60px;
}
.contact_box ul{
    display: flex;
    gap: 30px;
    justify-content:space-around;
}
.contact_box li{
    padding: 40px 40px 17px 40px;
    border: 1px solid #ec747b;
}
.contact_box_title{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    margin-top: -60px;
    margin-left: -30px;
    margin-bottom: 20px;
    background-color: #ec747b;
    position: relative;
    display: inline-block;
}
.contact_box_title h4{
    color: white;
    font-size: 12px;
    line-height: 1.3;

    position: absolute;
    display: inline-block;
    left: 0;
    top: 20%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width :54px;
    text-align:center;
}
.contact_box a{
    color: #ec747b;
    font-size: 18px;
    font-family: "Abel";
    font-weight: 100;
}
.snslink{
    margin-top: 30px;
    font-size: 17px;
    font-family: "Abel";
    font-weight: 100;
}
.footer_menu{
    max-width: 737px;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}
.footer_menu a,p{
    font-size: 15px;
    font-family: "Abel";
    font-weight: 100;
    color: #666666;
}
.border{
    width: 104px;
    border-bottom: 0.69px solid #666666;
    margin-top: 10px;
}
.pagetop{
    /*描画位置*/
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    /*テキストの形状*/
    color: #666666;
    font-size: 0.7rem;
    font-family: "Abel";
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
/* 矢印の描写 */
.pagetop:before {
    content: "";
  /*描画位置*/
    position: absolute;
    top: 0;
    right: -3px;
  /*矢印の形状*/
    width: 1px;
    height: 9px;
    background: #666666;
    transform: skewX(31deg);

}

.pagetop:after{
    content:"";
  /*描画位置*/
    position: absolute;
    top:0;
    right:0;
  /*矢印の形状*/
    width:1px;
    height: 89px;
    background:#666666;
}


@media screen and (max-width: 1300px){
    .scrolldown4{
        bottom: 10%;
    }
    @keyframes arrowmove{
        0%{bottom:10%;}
        50%{bottom:13%;}
       100%{bottom:10%;}
    }
    #concept, #about, #menu, .style_title_block, #saloninfo{ 
        max-width: 1000px;
    }
   c
}
@media screen and (max-width: 1200px){
    .scrolldown4{
        bottom: 15%;
    }
    @keyframes arrowmove{
        0%{bottom:15%;}
        50%{bottom:17%;}
       100%{bottom:15%;}
    }
    h2{
        padding-top: 23px;
    }
    .style_title_block{
        max-width: 900px;
    }
    .contact_box li{
        padding: 22px 23px 17px 11px;
    }
    .contact_box ul{
        gap:0;
    }
    .contact_box{
        max-width: 600px;
        width: 100%;
    }
}
@media screen and (max-width: 1100px){
    h2{
        margin-left: 50px;
    }
    #concept, #about, #menu, .style_title_block, #saloninfo{ 
        max-width: 900px;
    }
    .lead, .about_block, .salon_block, .menu_block, .style_block, .info_block{
        margin-left: 72px;
        max-width: 900px;
    }
    .owner_img{
        margin-left: 62px;
    }
    .salon_img{
        margin-right: 82px;
    }
    .scrolldown4{
        bottom: 20%;
    }
    @keyframes arrowmove{
        0%{bottom:20%;}
        50%{bottom:23%;}
       100%{bottom:20%;}
    }
    .salon_bg{
        margin-left: -148px;
    }
    .botton{
        padding: 40px 0;
    }
    .style_more{
        margin-top: -80px;
    }
    .slick-nav-arrows{
        margin-top: 0;
    }
    .style_slider{
        left: 18%;
    }
}

@media screen and (max-width: 950px){
    .scrolldown4{
        bottom: 30%;
    }
    @keyframes arrowmove{
        0%{bottom:30%;}
        50%{bottom:33%;}
       100%{bottom:30%;}
    }
    #concept, #about, #menu, .style_title_block, #saloninfo{ 
        max-width: 800px;
    }
    .botton span{
        font-size: 16px;
    }
    .lead_textarea h3{
        font-size: 69px;
    }
    .lead_main{
        font-size: 26px;
    }
    h2{
        margin-left: 60px;
        padding-top: 16px;
    }
    .lead_textarea{
        margin-left: -119px;
    }
    .owner_img{
        margin-right: 30px;
    }
    .salon_text, .salon_room{
        margin-left: 0;
    }
    .salon_img{
        width: 100%;
        margin-right: 52px;
    }
    /*.slick-slide{
        width: 100%;
    }*/
    .tyle_slider img{
        width: 100%;
    }
    .style_more{
        margin-top: -150px;
    }
    .info_group{
        padding: 0px 56px;
    }
}


@media screen and (max-width: 900px){
    .style_slider{
        left: 15%;
    }

}






@media screen and (max-width: 787px){
    #header{
        background-color: #fff;
        height: 100vh;
    }
    .header_container, .topimg, .botton, .header_nav, .slick-nav-arrows, .pc_only{
        display: none;
    }
    .sp_header_container, .sp_only{
        display: block;
    }
    .sp_header_container .logo img{
        position: absolute;
        z-index: 1;
        margin-top: 15px;
        width: 120px;
        margin-left: 10px;
    }
    .logo{
        margin-top: 0;
    }
    .sp_topimg{
        position: relative;
        display: block;
        top:0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .sp_botton{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 45px;
        z-index: 10;
    }
    .sp_botton span{
        font-size: 20px;
        color: #fff;
        background-color: #EC747B;
        padding: 10px 70px;
        border-radius: 30px;
        text-align: center;
    }

    .sp_nav{
        position: absolute;
        top:0;
        width: 100%;
        height: 100vh;
        background-color: #e79397;
        z-index: 999;
    }
    .sp_nav ul{
        height: 100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .sp_nav li{
        padding: 16px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 25px;
        color:#fff;
        text-align: center;
    }
    .instagram{
        width: 20px;
        margin-top: 10px;
    }
    .header_nav{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        height: 30px;
        width: 33px;
        position: absolute;
        top:15px;
        z-index:9999;
        right:0;
    }
    .hamburger span{
        width: 33px;
        height: 3px;
        background-color: #EC747B;
        position: absolute;
        content: "";
        top:22px;
        right:22px;
        transition: 0.5s;
        border-radius: 5px;
    }
    .hamburger span::before,
    .hamburger span::after{
        position: absolute;
        content: "";
        width: 33px;
        height: 3px;
        background-color: #EC747B;
        transition: 0.5s;
        border-radius: 5px;
    }
    .hamburger span::before{
        top:-10px;
    }
    .hamburger span::after{
        top: 10px;
    }
    .open span{
        background: transparent;
    }
    .open span::before{
        transform: rotate(45deg);
        top:0;
        background-color: #fff;
        z-index: 100000;
    }
    .open span::after{
        transform:rotate(-45deg);
        top: 0;
        background-color: #fff;
        z-index: 100000;
    }
    .scrolldown4{
        bottom: 1%;
        margin-right: 8px;
    }
    @keyframes arrowmove{
        0%{bottom:1%;}
        50%{bottom:3%;}
       100%{bottom:1%;}
    }
    .lead{
        display: block;
    }
    .style_title{
        margin-bottom: 30px;
    }
    .footer_menu{
        display: block;
        margin-bottom: 50px;
        padding: 0 30px;
        width: 55%;
    }
    .footer_menu a{
        font-size: 20px;
        line-height: 2.0;
    }
    .copyright{
        margin-top: 30px;
    }
    #concept, #about, #menu, .style_title_block, #saloninfo{
        max-width: 600px;
        padding: 0 30px;
    }
    .lead img{
        width: 100%;
    }
    .lead_textarea{
        margin-left: 0;
    }
    .lead_textarea h3{
        margin-top: -48px;
    }
    .lead_text{
        width: 100%;
    }
    .owner_img{
        width: 100%;
        margin-top: 0;
        margin-right: auto;
        margin-left: 0;
    }
    .about_title, .salon_title{
        position: relative;
        margin-bottom: -27px;
        z-index: 1;
    }
    .about_owner, .owner_name, .about_text{
        margin-left: 0;
    }
    .about_owner{
        margin-top: 30px;
    }
    .salon_block{
        display: block;
    }
    .salon_text, .salon_room{
        margin-top: 30px;
    }
    .salon_room{
        font-size: 22px;
    }
    .menu_group h3{
        transform: none;
        text-align: left;
        padding-left: 5px;
    }
    .menu_list_cut, .menu_list{
        margin-top: 24px;
        margin-left: 0;
    }
    .menu_group, .info_group{
        padding:0 30px 0 0;
    }
    .style_slider{
        margin-top: 30px;
    }
    .info_title{
        font-size: 60px;
    }
    .info_group h3{
        margin-top: 40px;
    }
    .info_list, .contact_box ul{
        display: block;
    }
    .contact_box ul{
        max-width: 300px;
        margin: 0 auto;
    }
    .contact_box li{
        width: 200px;
        margin-bottom: 48px;
        padding: 39px 23px 29px 45px;
    }
    .contact_box a{
        text-align: center;
    }
    .style_more{
        margin-top:164px;
    }
    .logo{
        margin-left: 5px;
    }
    .style_slider{
        margin: 0 auto;
        margin-top: 30px;
        left: 25%;
        height: 100vh;
    }
    .salon_img{
        margin-right: 0;
    }
    h2{
        margin-left: 45px;
    }
}


@media screen and (max-width: 550px){
    .style_more{
        margin-top: 94px;
        margin-right: 30px;
    }
}


@media screen and (max-width: 500px){
    .lead_textarea h3{
        font-size: 55px;
        margin-top: -35px;
    }
    .style_more{
        margin-top: 40px;
    }
}

@media screen and (max-width: 430px){
    .lead_textarea h3{
        font-size: 49px;
        margin-top: -27px;
    }
    .info_title{
        font-size: 49px;
    }
    .contact_box li{
        padding-right: 2px;
    }
    .lead_main{
        font-size: 24px;
    }
    .lead, .about_block, .salon_block, .menu_block, .style_block, .info_block{
        margin-left: 62px;
    }
    .menu_title{
        margin-bottom: 43px;
    }
    h2{
        padding-top: 12px;
    }
    .menutext{
        font-size: 13px;
    }
    .style_more{
        margin-top: -68px;
    }
}
@media screen and (max-width: 400px){
    h2{
        margin-left: 24px;
    }
    .style_more{
        margin-top: -283px;
    }
    .contact_box li{
        width: 160px;
        padding-top: 27px;
        padding-bottom: 20px;
        padding-left: 16px;
    }
    .contact_box a{
        font-size: 15px;
    }
    .menu_group, .info_group{
        padding: 0;
    }
    .lead, .about_block, .salon_block, .menu_block, .style_block, .info_block{
        margin-left: 45px;
    }
    .menutext{
        font-size: 12px;
    }
    .menulist{
        font-size: 14px;
    }
    .salon_room{
        font-size: 18px;
    }
    .about_title, .salon_title{
        font-size: 70px;
        margin-bottom: -22px;
    }
    .lead_textarea h3{
        font-size: 40px;
    }
    .lead_main{
        font-size: 20px;
    }
    .footer_menu{
        margin-top: 100px;
    }
}
